*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    margin-top: 16px;
    font-size: 40px;
    color:#fff;
    text-align: center;
    min-height: 380px;
    line-height: 380px;
    background-color: orange;

}

.main{
    display: flex;
    background-color: bisque;
    margin: 0 32px;
}   

.sidebar{
    width: 300px;
    background-color: cornflowerblue;
}
.content{
    /* Cho chiem het do rong con lai */
    flex-grow: 1;
    /* width: calc(100% - 300px); */
    background-color: orange;
}

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet{
        display: none;
    }
}

@media  (max-width:739px) {
    .hide-on-mobile{
        display: none;
    }
}