:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --border-color:#dbdbdb;

    --header-height:120px;
    --navbar-height:48px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

    --star-gold-color:#FFCE3E;
}

*{
    box-sizing: inherit;
}

html{
    /* font-size: 100%; tuong duong 16px */
    font-size: 62.5%;
    line-height: 1.6rem; /* ~ 16px==do cao cua chu*/
    font-family: 'Roboto', sans-serif; /* chu khong co gach chan thi la sans-serif*/
    box-sizing: border-box;
}

/* Dung cho resposive */

.grid{
    /* Neu width cua man hinh lon hon 1200px thi hien thi la 1200px, 
    neu width cua man hinh nho hon 1200px thi se hien thi theo full cua man hinh do(100%
    */
    width:1200px;
    max-width: 100%;
    /* Canh giua cac item  */
    margin: 0 auto;
}

.grid__full-width{
    width:100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

}

.grid__cloumn-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}


.grid__cloumn-10{

    padding-left: 5px;
    padding-right: 5px;
    width: 83.3337%;
}
/* Animation hien len tu tu
Doi tuong nao tren website ma su dung animation nay
thi tu khi xuat hien no se co opacity la 0 va opacity se bang 1 khi ket thuc animation nay
*/
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);

}

.modal__body{
    --growth-from:0.6;
    --growth-to:1;
    /* background-color:var(--white-color); */
    margin: auto;
    position: relative;
    z-index: 1;
    /* border-radius: 4px; */
    animation: growth linear 0.2s ;
}

/* button */
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 12px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    /* background-color: transparent; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* De can giua theo chieu doc text */
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    text-transform: none;
    padding: 0 8px;

}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
    
}
.btn.btn--disabled{
    cursor:default;
    /* filter: brightness(80%); */
    background-color: #ccc;
}

/* select input*/
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top:1px;
}

.select-input__list{
    position: absolute;
    left:0;
    right: 0;
    top:25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;

}

.select-input__link:hover{
    color: var(--primary-color);
}
