
/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    /* Xu ly truong hop dung float thi bi parent collapse */
    clear: both;
    
}

#main{
}


#header{
    /* kích thước chiều ngang chiếm hết trình duyệt , còn height thì cần phải đo */
    height: 46px;
    background-color: #000;
    /* Co dinh vi tri cua header khi scroll chuot */
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style: none;
}

#nav > li{

    display: inline-block;
}

#nav li{
    position: relative;

}
#nav >li> a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

/* css cho .subnav la con cua li va li la con cua nav khi li duoc hover */
#nav  li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}
.nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: #fff ;
    font-size: 16px;
    line-height: 46px;

}

#slider{
    /* Khi chinh header position thanh fixed thi slider \
    dang bi troi len vi tri cua header => can them margin 
    top de chinh lai vi tri slider */
    margin-top: 46px;
    /* Lam cho kich thuoc height cua hinh anh bang 1/2 
    width cua anh . Padding-top (%) : 50% có nghĩa là 50% của width */
    padding-top: 50%;
    background:url('/w3_band/assets/img/chicago.jpeg') top center /cover no-repeat ;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* canh giua item : cach 1 dung tranform */
    /* left: 50%;
    transform: translateX(-50%);*/
    text-align: center; 

    /* canh giua text bang cach dieu chinh do rong thanh 100% */
    /* width: 100%; */

    /* hoac la cho left dinh vao sat ben trai , right dinh vao ben phai */
    left:0;
    right: 0;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
}

#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:64px  0;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-subheading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .section-heading , 
#content .section-subheading {
    text-align: center;
}

#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 48px;
    /* Co the dung thuoc tinh overflow de xu ly parent collapse trong truong hop dung float  */
    /* overflow: hidden; */

}

#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    
}

#footer{

}
