
/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3{
    width: calc(100% / 3);
}

.col-2{
    width: calc(100% / 2);
}

.col-1{
    width: calc(100% / 1);
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.clear{
    /* Xu ly truong hop dung float thi bi parent collapse */
    clear: both;
    
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}
.pull-right{
    float: right !important;
}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    outline: none;
    border: none;
    
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#main{
}


#header{
    /* kích thước chiều ngang chiếm hết trình duyệt , còn height thì cần phải đo */
    height: 46px;
    background-color: #000;
    /* Co dinh vi tri cua header khi scroll chuot */
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style: none;
}

#nav > li{

    display: inline-block;
}

#nav li{
    position: relative;

}
#nav >li> a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

/* css cho .subnav la con cua li va li la con cua nav khi li duoc hover */
#nav  li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}
.nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: #fff ;
    font-size: 16px;
    line-height: 46px;

}

#slider{
    /* Khi chinh header position thanh fixed thi slider \
    dang bi troi len vi tri cua header => can them margin 
    top de chinh lai vi tri slider */
    margin-top: 46px;
    /* Lam cho kich thuoc height cua hinh anh bang 1/2 
    width cua anh . Padding-top (%) : 50% có nghĩa là 50% của width */
    padding-top: 50%;
    background:url('/w3_band/assets/img/chicago.jpeg') top center /cover no-repeat ;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* canh giua item : cach 1 dung tranform */
    /* left: 50%;
    transform: translateX(-50%);*/
    text-align: center; 

    /* canh giua text bang cach dieu chinh do rong thanh 100% */
    /* width: 100%; */

    /* hoac la cho left dinh vao sat ben trai , right dinh vao ben phai */
    left:0;
    right: 0;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
}

#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:64px  0 112px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-subheading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .section-heading , 
#content .section-subheading {
    text-align: center;
}

#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 48px;
    /* Co the dung thuoc tinh overflow de xu ly parent collapse trong truong hop dung float  */
    /* overflow: hidden; */

}

#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    
}

.tour-section{
    background-color: #000;

}

.ticket-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;

}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding:3px 4px;
    margin-left: 16px;

}

.ticket-list .quantity{
    /* Khi co float thi element tro thanh block */
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Place */
.places-list{
   margin-top: 32px;
   /* margin-left: -8px;
   margin-right: -8px; */
   /* padding-bottom: 48px; */
}

.place-item{
    /* dua cac item len cung dong */
    /* float: left; */
    /* width: calc(100% / 3); */
    /* padding: 0 8px ; */
}

.place-img{
    /* Xu ly khoang cach giua hinh va body do the img mac dinh la inline */
    display: block;
    width: 100%;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
   font-size: 15px;
   font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact  */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;

}
.contact-info i[class*="ti-"]{
    display:inline-block;
    width: 30px;
}

.contact-form{
    font-size: 15px;

}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;

}
.contact-form  .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;

}


#footer{

}

.modal{
    /* Tao background de hinh thanh lop overlay */
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);

    /* display: flex;  do init bang khong hien thi nen khong dung cai nay*/
    align-items: center;
    justify-content: center;
    display: none;
    
}
@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal.open{
    display: flex;
}

.modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease-in 0.5s;
}


.modal-header{
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 130px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    top:0;
    right: 0;
    color: #fff;
    padding: 12px;
}

.modal-close:hover{
    background-color:#757575;
    cursor: pointer;
}
.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-input{
    /* Dung padding de chieu cao thanh 40px */
    font-size: 15px;
    border: 1px solid #CCC;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    width: 100%;
    color: #fff;
    padding:18px;
}

#buy-tickets:hover{
    cursor: pointer;
    background-color: #9b9a9a;
    color: #000;
}
.modal-footer{
    font-size: 15px;
    padding: 16px;
    text-align: right;
}
.modal-footer p a {
    color: #2196F3;
    text-decoration: none;
}
